.dropzone {
  border: 1px double #007bff;
  border-radius: 35px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: #007bff;
  margin: 20px 0;
  height: 250px;
}

.dropzone:hover {
  background-color: #c4e2ff;
}
